/* Estilos generales para la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Color de fondo claro */
    color: #333;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
}

/* Contenedor para los productos */
.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
}

/* Estilo para cada producto */
.producto {
    text-align: center;
    padding: 10px;
    border: 3.5px solid #ddd;
    border-radius: 8px;
    background-color: #ddd590;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.producto:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Imagen del producto */
.producto img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Nombre del producto */
.producto span {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    margin-top: 10px;
}

/* Estilos para el botón de eliminar */
button {
    background-color: #ddd590;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #92b839;
}

/* Botón cerrar */
form.boton2 {
    text-align: center;
    margin-top: 20px;
}

form.boton2 button {
    background-color: #ddd590;
    color: black;
    width: auto;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

form.boton2 button:hover {
    background-color: #92b839;
}

@media (max-width: 768px) {
    .productos-container {
        justify-content: center;
    }
}
